@model AllStudentResultViewModel

<section class="mt-5">
    <div class="bg-body border p-5">
        <h3>All Exam List</h3><hr />

        <table class="table table-striped table-hover">
            <thead>
                <tr class="table-success">
                    <th scope="col">Title</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Total Mark</th>
                    <th scope="col">Get Mark</th>
                    <th scope="col">Pass/Fail</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.AllStudentResults.Count; i++)
                {
                    <tr>
                        <td>@Model.AllStudentResults[i].Title</td>
                        <td>@Model.AllStudentResults[i].UserName</td>
                        <td>@Model.AllStudentResults[i].TotalMark</td>
                        <td>@Model.AllStudentResults[i].GetMark</td>
                        <td>@Model.AllStudentResults[i].Pass_Fail</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
</section>




